
<h2>Movie Catalog - ragmn</h2>
<div class="alert alert-success" id="success-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong>
</div>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Movie ID</th>
            <th>Movie Titlee</th>
            <th>Description</th>
            <th>Image URL</th>
            <th>Release Year</th>
            <th>Genre</th>
            <th>EDIT</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Movie ID</th>
            <th>Movie Titlee</th>
            <th>Description</th>
            <th>Image URL</th>
            <th>Release Year</th>
            <th>Genre</th>
            <th>EDIT</th>
        </tr>
    </tfoot>
</table>

<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Movie</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                <button type="button" id="btnDelete" data-id="" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">Edit Movie</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="pwd">Movile Title:</label>
                    <input class="form-control" placeholder="Movile Title" id="title">
                </div>
                <div class="form-group">
                    <label for="pwd">Movile Description:</label>
                    <input class="form-control" placeholder="Movile Description" id="desc">
                </div>
                <div class="form-group">
                    <label for="pwd">URL:</label>
                    <input class="form-control" placeholder="Image URL" id="url">
                </div>
                <div class="form-group">
                    <label for="pwd">Release Year:</label>
                    <input class="form-control" placeholder="Release Year" id="year">
                </div>
                <div class="form-group">
                    <label for="pwd">Genre:</label>
                    <input class="form-control" placeholder="Movile Genre" id="genre">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                <button type="button" id="btnUpdate" data-id="" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="~/js/site.js"></script>
}

